# This file specifies files that are *not* uploaded to Google Cloud Platform
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
# $ gcloud topic gcloudignore
#
#!include:.gitignore

# Django specific ignores
__pycache__/
*.pyc
.pdm-python/

# Virtual environments
venv/
env/

# IDE files
.idea/
.vscode/

# Docker files (if you are not using Cloud Run with Docker builds)
.dockerignore
Dockerfile
docker-compose.yml

# Environment variables file (if used for local development)
.env

!staticfiles/