{% extends 'trainer/base.html' %}

{% block custom_styles %}
    {% load static %}
    <link href="{% static 'css/appointment.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center flex-wrap gap-3 mb-3">
        <div>
            <h3 class="mb-0">appointments</h3>            
        </div>
        <div>
            <a href="{% url 'appointment_calendar' %}">
                <button type="button" class="btn btn-outline-secondary">calendar</button>
            </a>
            <a href="{% url 'appointment_list' %}">
                <button type="button" class="btn btn-outline-secondary">list</button>
            </a>
        </div>
    </div>

    <hr class="hr-appointment" />

    <div class="d-flex justify-content-between align-items-center flex-wrap gap-3 mb-3">
        <!-- Search Aligned Far Left -->
        <form method="GET" action="{% url 'appointment_list' %}" class="flex-grow-1 flex-sm-grow-0" style="min-width: 300px;">
            <div class="input-group">
                <input type="text" name="search" value="{{search}}" class="form-control" placeholder="Search by name...">
                <button type="submit" class="btn btn-outline-secondary">GO</button>
            </div>
        </form>

        <a href="{% url 'appointment_add' %}" class="btn btn-appointment px-4">
            add
        </a>
    </div>

    <!-- row 3: main tags list -->
    <div class="table-responsive mt-4">
        <table class="table table-hover table-red-borders shadow-sm align-middle">
            <thead class="table-dark">
                <tr>
                    <th>name</th>
                    <th>date</th>
                    <th>time</th>
                    <th class="text-end">actions</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in appointments %}
                <tr>
                    <td class="text-wrap">{{ appointment.client.name }}</td>
                    <td class="text-break">{{ appointment.scheduled_date }}</td>
                    <td class="text-break">{{ appointment.scheduled_time }}</td>
                    <td class="text-end">
                        <div class="btn-group flex-column flex-sm-row">
                            <a href="{% url 'appointment_edit' appointment.id %}" class="btn btn-sm btn-outline-primary mb-1 mb-sm-0">Edit</a>
                            <a href="{% url 'appointment_delete' appointment.id %}" class="btn btn-sm btn-outline-danger">Delete</a>
                        </div>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3" class="text-center text-muted py-4">No clients</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- bootstrap 5 pagination -->
    {% include 'trainer/includes/_pagination.html' %}

{% endblock %}