{% extends 'trainer/base.html' %}

{% block custom_styles %}
    {% load static %}
    <link href="{% static 'css/workout.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
   <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap">
        <h3 class="mb-2 mb-sm-0">add workout program</h3>
        <a href="{% url 'workout_list' %}" class="btn btn-outline-secondary">Back</a>
    </div>

    <hr class="hr-workout" />

        <div class="row">
            <div class="col-12 col-md-4 col-lg-4">                
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <h6 class="mb-3">exercise library</h6>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <label class="fw-bold small">Filter by Tags</label>
                                <!-- tags -->
                                <div id="tags-container" class="d-flex flex-wrap gap-2 mb-3"
                                    hx-get="/tags/" 
                                    hx-trigger="load"
                                    hx-target="this">
                                    <span class="text-muted small">Loading tags...</span>
                                </div>
                                <!-- exercises -->
                                <label class="fw-bold small">Exercises</label>
                                <div id="exercises-container" class="border rounded style="max-height: 600px; overflow-y: auto;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            {% if perms.orm.can_use_ai %} 
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                    <h6 class="mb-3">ai generation</h6>
                                </button>
                            {% else %}
                                <button class="accordion-button" type="button" disabled>
                                    <span class="text-muted">ai (only for premium trainer)</span>
                                </button>
                            {% endif %}
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="text-center col-12">
                                    <p>Get AI Recommendations</p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <div class="row mb-3">
                                            <div class="form-label" for="{{form.exercise_count.id_for_label}}">{{form.exercise_count.label}}</div>
                                            {{form.exercise_count}}                                            
                                        </div>
                                    </div>

                                    <button type="button" class="btn btn-outline-primary" id="ai-generate" name="generate" onclick="addAIExercises()">
                                        Generate
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8 col-lg-8">
                <!-- <h5 class="mb-3">create workout plan</h5> -->
                <form method="POST">
                    {% csrf_token %}
                    {% include 'trainer\includes\_form_errors.html' %}
                    
                    <!--- client selection -->
                    <div class="card mb-4">
                        <!-- <div class="card-header bg-primary text-white">
                            <h6 class="mb-0">Select client</h6>
                        </div> -->
                        <div class="card-body">
                            <div class="row mb-3">
                                <label for="{{ form.name.id_for_label}}" class="col-12 col-md-2 col-form-label">
                                    {{ form.client.label }}
                                </label>                                
                                <div class="col-12 col-md">
                                    {{ form.client }}

                                    {% for error in form.client.errors %}
                                        <div class="text-danger small">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row g-3">
                                <div class="col-12">
                                    <div id="client-container">
                                        <label class="form-label small" for="client-goals">Goals</label>
                                        <textarea type="text" class="form-control" disabled readonly id="client-goals" rows="2"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--- selected exercises-->

                    <h5>Exercises in Workout</h5>
                    {{ formset.management_form }}

                    <!-- ================================== FORMSET TEMPLACE ===================================== -->                 
                    <div id="formset-container">
                        {% for ex_form in formset %}
                        <div class="card mb-1 p-1">
                            <div class="row align-items-center">
                                <div class="col-md-4">
                                    {{ ex_form.exercise.label_tag }}
                                    {{ ex_form.exercise }}
                                </div>
                                <div class="col-md-2">
                                    {{ ex_form.pre_sets.label_tag }}
                                    {{ ex_form.pre_sets }}
                                </div>
                                <div class="col-md-2">
                                    {{ ex_form.pre_reps.label_tag }}
                                    {{ ex_form.pre_reps }}
                                </div>
                                <div class="col-md-2">
                                    {{ ex_form.pre_weight.label_tag }}
                                    {{ ex_form.pre_weight }}
                                </div>
                                <div class="col-md-2">
                                    {{ ex_form.pre_duration.label_tag }}
                                    {{ ex_form.pre_duration }}
                                </div>                                                    
                            </div>
                            {% if formset.can_delete %}
                                <div class="mt-2 text-end">
                                    {{ ex_form.DELETE }} <span class="small text-danger">Remove</span>
                                </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>

                    <!-- ============================  ========================================= -->
                    <div class="d-flex gap-2">
                        <!-- <button type="submit" name="add_row" class="btn btn-outline-secondary">Add Empty Row</button> -->
                        <button type="submit" class="btn btn-success flex-grow-1">Save Workout Plan</button>
                    </div>
                </form>
            </div>
        </div>


    <!-- ========================== EMPTY TEMPLATE (used for JS cloning) ========================= -->
    <div id="empty-form-template" class="d-none">
        <div class="formset-row mb-3 p-2 bg-dark border border-secondary rounded overflow-hidden">
            
            <div class="mb-2 w-100" style="pointer-events: none;">
                {{ formset.empty_form.exercise }}
            </div>

            <div class="row m-0 g-1 row-cols-2 row-cols-md-4 w-100">
                
                <div class="col px-0 pe-1">
                    <label class="small text-muted mb-0" style="font-size: 0.7rem;">Sets</label>
                    {{ formset.empty_form.pre_sets }}
                </div>
                <div class="col px-0">
                    <label class="small text-muted mb-0" style="font-size: 0.7rem;">Reps</label>
                    {{ formset.empty_form.pre_reps }}
                </div>
                <div class="col px-0 pe-1">
                    <label class="small text-muted mb-0" style="font-size: 0.7rem;">Wgts</label>
                    {{ formset.empty_form.pre_weight }}
                </div>
                <div class="col px-0">
                    <label class="small text-muted mb-0" style="font-size: 0.7rem;">Mins</label>
                    {{ formset.empty_form.pre_duration }}
                </div>

            </div>

            <div class="text-end mt-1">
                <button type="button" class="btn btn-sm text-danger remove-row p-0 border-0" style="font-size: 0.7rem;">
                    <i class="bi bi-trash"></i> Remove
                </button>
            </div>
        </div>
    </div>
    <!-- ========================== /EMPTY TEMPLATE (used for JS cloning) ========================= -->

    <script>
        const formsetContainer = document.getElementById("formset-container");
        const emptyTemplate = document.querySelector("#empty-form-template .formset-row");        
        const totalForms = document.querySelector("input[name$='-TOTAL_FORMS']");

        // --- https://www.brennantymrak.com/articles/django-dynamic-formsets-javascript
        // --- https://ianwaldron.com/blog/add-form-to-django-formset-dynamically-with-javascript/
        function addExercise(ex) {
            const index = parseInt(totalForms.value);       // from the formset management hidden values
            const newRow = emptyTemplate.cloneNode(true);   // true -copies the node and its entire subtree

            newRow.innerHTML = newRow.innerHTML.replace(/__prefix__/g, index);
            newRow.querySelector('select').value = ex.id;
            // get the newRow inputs and update with selected exercise default values
            newRow.querySelectorAll('input').forEach(input => {
                if (input.name.includes('pre_sets')) input.value = ex.def_sets;
                if (input.name.includes('pre_reps')) input.value = ex.def_reps;
                if (input.name.includes('pre_weight')) input.value = ex.def_weight;
                if (input.name.includes('pre_duration')) input.value = ex.def_duration;
            });

            formsetContainer.appendChild(newRow);
            totalForms.value = index + 1;               // make sure to increase total after adding
        }
        function delExercise(ex) {
        }    
        async function addAIExercises() {
            // AI: get selected value of a dropdown from DOM
            const selectElement = document.querySelector('#id_client');
            const selectedValue = selectElement.value;

            if(selectedValue) {
                await fetch(`/ai/workout/client/${selectedValue}`)
                    .then(res => res.json())
                    .then(data => {
                        debugger;
                        data.exercises.forEach(ex => {
                            addExercise(ex)
                        })
                    })
            }
        }
    </script>
{% endblock %}



<!-- ========================= NORMAL AJAX CALLS WITH FETCH, NO HTMX ======================-->
<!-- 
<script>
    document.addEventListener('DOMContentLoaded', async () => {
        clientEl.addEventListener('change', async(e) => {
          clientId = e.target.value
        
            await fetch(`/client/info/${clientId}`)
                .then(res => res.json())
                .then(data => {
                    alert(data.goals)
                    goalsEl.innerHTML = data.goals
                })
        })
    });
    async function load_tags() {
        debugger;
        fetch('/tags/')
            .then(res => {
                return res.json();
            })
            .then(data => {
                tagsContainerEl.innerHTML = data.map(tag => `
                    <input class="btn-check" type="checkbox" onchange="loadExercises()" 
                        name="tags_filter" value="${tag.id}" id="tag${tag.id}">
                    
                    <label class="btn btn-outline-primary rounded-pill px-3 py-1" for="tag${tag.id}">
                        ${tag.name}
                    </label>
                `).join('');
            })
            .catch(err => {
                tagsContainerEl.innerHTML = '<span class="text-danger">Error loading tags.</span>';
            });
    }
    async function loadExercises() {
        debugger;

        // 1. Get all checkboxes with that name
        const allTags = document.querySelectorAll('input[name="tags_filter"]');
        const selectedIds = [];
        for (let i = 0; i < allTags.length; i++) {
            if (allTags[i].checked) {
                selectedIds.push(allTags[i].value);
            }
        }

        if(selectedIds.length > 0) {
            // 3. build string of tags to get  /exercises/tags/1,2,3/
            const tagString = selectedIds.join(',');                
            
            try {
                await fetch(`/exercises/tags/${tagString}`)
                    .then(res => res.json())
                    .then(data => {
                        if(data.length) {
                            exercisesContainerEl.innerHTML = data.map(ex => `
                                <li class="card mb-2 shadow-sm border-0 p-1" style="cursor: pointer;" 
                                    onclick='addExercise(${JSON.stringify(ex)})'>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span class="small">${ex.name}</span>
                                        <span class="badge bg-primary">+</span>
                                    </div>
                                </li>
                            `).join('');
                        }
                    })
            } 
            catch (err) {
                exercisesContainerEl.innerHTML = '<li class="text-danger small text-center py-3">Error.</li>';
            }
        }
        else {
            exercisesContainerEl.innerHTML = '<li class="text-muted small text-center py-3">Select tags</li>';
        }
    }
</script> 
-->