{% extends 'backend/base.html' %}

{% block content %}
    <div class="row mb-3">
        <div class="col-12">
            <h3 class="mb-0">trainers</h3>
        </div>
    </div>

    <hr class="opacity-100" style="height:2px;" />

    <div class="d-flex justify-content-between align-items-center flex-wrap gap-3 mb-3">
        <!-- search box (aligned left) -->
        <form method="GET" action="#" class="flex-grow-1 flex-sm-grow-0" style="min-width: 300px;">
            <div class="input-group">
                <input type="text" id="search" name="search" value="{{search}}" class="form-control" placeholder="Search by name...">
                <button type="submit" id="go" name="go" class="btn btn-outline-secondary">go</button>
            </div>
        </form>

        <a href="#" class="btn btn-primary px-4">
            add
        </a>
    </div>
{% endblock %}