.hr-tag {
    height: 2px;
    background-color: #3ABEF9;
    opacity: 100
}

.btn-tag {
    background-color: #3ABEF9;
}
/* Note the space between .nav-workout and .active */
.nav-workout .active > .page-link, 
.nav-workout .page-link.active {
    background-color: #3ABEF9 !important;
    border-color: #3ABEF9 !important;
    color: white !important;
}
