.hr-workout {
    height: 2px;
    background-color: #FF8A08;
    opacity: 100
}

.btn-workout {
    background-color: #FF8A08;
}

.active>.page-link, .page-link.active {
    background-color: #FF8A08;
}
