{% extends "trainer/base.html" %}

{% block content %}
<div class="py-4">
    <h3 class="mb-4 text-center">Trainer Dashboard</h3>

    <!-- First Row: 3 Cards (Stacks on mobile, 3-wide on medium screens+) -->
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-4">
        <div class="col">
            <div class="card h-100 bg-dark shadow-sm">
                <div class="card-body">
                    <h6 class="card-title text-success mb-3">Clients</h6>

                    <div class="row align-items-center">                        
                        <div class="col-6 text-center border-end">
                            <div class="display-5 text-white">0</div>
                        </div>

                        <div class="col-6">
                            <div class="d-flex justify-content-between">
                                <span class="text-muted text-small">>= 5 workouts</span>
                                <span class="fw-bold text-success">{{summary.workout_agg.high}}</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span class="text-muted text-small">>= 1 workouts</span>
                                <span class="fw-bold text-info">{{ summary.workout_agg.medium }}</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span class="text-muted text-small">0</span>
                                <span class="fw-bold text-info">{{ summary.workout_agg.low }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        <div class="col">
            <div class="card h-100 bg-dark shadow-sm">
                <div class="card-body">
                    <!-- <h6 class="card-title text-success mb-3">Metrics</h6> -->

                    <div class="row text-center">
                        <!-- Metric 1 -->
                        <div class="col-6">
                            <h1 class="display-5 text-white mb-0">{{ summary.tag_count }}</h1>
                            <small class="text-body-secondary">Tags</small>
                        </div>
                        <div class="col-6">
                            <h1 class="display-5 mb-0">{{ summary.exe_count }}</h1>
                            <small class="text-body-secondary">Exercises</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 bg-dark shadow-sm">
                <div class="card-body">
                    <h5 class="card-title text-success mb-3 text-end">Workouts</h5>

                    <div class="row align-items-center">
                        <!-- RIGHT: Vertical stack -->
                        <div class="col-6  border-end">
                            <div class="d-flex justify-content-between">
                                <span class="text-body-secondary text-small">In Progress</span>
                                <span class="fw-bold text-info">{{ summary.workouts.pending }}</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span class="text-body-secondary text-small">Completed</span>
                                <span class="fw-bold text-secondary">{{ summary.workouts.completed }}</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span class="text-body-secondary text-small">Not Started</span>
                                <span class="fw-bold text-secondary">{{ summary.workouts.completed }}</span>
                            </div>
                        </div>
                        <div class="col-6 text-center">
                            <div class="display-5">{{ summary.workouts.total }}</div>
                            <!-- <small class="text-body-secondary">Clients</small> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>    

    </div>

    <!-- second row: left appointments -->
    <div class="row g-4">
        <div class="col-12 col-md-6">
            <div class="card h-100 bg-dark shadow-sm">
                <h5 class="card-header text-success text-center">upcoming appointments</h5>
                <div class="card-body">
                    <!-- <h5 class="card-title text-success">Upcoming Appointments</h5> -->
                    <div class="card-body" id="calendar"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card h-100 bg-dark shadow-sm">
                <h5 class="card-header text-success text-center">pending workouts</h5>
                <div class="card-body">
                    {%for workout in summary.pending_workouts %}
                        <h6>{{ workout.client__name }}</h6>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');        
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'listMonth',    
            displayEventTime: false, 
            height: 'auto',
            themeSystem: 'bootstrap5',

            headerToolbar: {
                left: 'prev,next', // Removed 'today' from here
                center: 'title',
                right: ''          // Leave empty or add view buttons like 'dayGridMonth'
            },            

            events: '{% url "calendar_json" %}',             
        });

        calendar.render();
    });
</script>

{% endblock %}
