<div>
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center mt-1 gap-3">    
        <!-- Page Counter (Far Left) -->
        <div class="text-muted small">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </div>

        <!-- pager-->
        <nav class="nav-workout" aria-label="Page navigation example">
            <ul class="pagination mb-0">                    
                <!-- Previous -->
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}&search={{ search }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                {% endif %}

                <!-- Page Numbers -->
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ num }}&search={{ search }}">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                <!-- Next -->
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}&search={{ search }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>