<div class="container-fluid mb-4 col-10">
    <div class="row g-0 text-center align-items-center justify-content-center">
        
        <div class="col">
            <div class="card h-100 border-1" style="border-color: #3ABEF9">
                <div class="card-body p-1 d-flex flex-column justify-content-center align-items-center">
                    <div class="fw-bold text-success" style="line-height: 1;">1</div>
                    <div class="opacity-50 d-none d-md-block mt-1 small">Tags</div>
                </div>
            </div>
        </div>

        <div class="col-auto px-2">
            <span class="display-6">&rsaquo;</span>
        </div>

        <div class="col">
            <div class="card h-100 border-5" style="border-color: #A07CFE">
                <div class="card-body p-1 d-flex flex-column justify-content-center align-items-center">
                    <div class="fw-bold text-success" style="line-height: 1;">2</div>
                    <div class="opacity-50 d-none d-md-block mt-1 small">Exercises</div>
                </div>
            </div>
        </div>

        <div class="col-auto px-2">
            <span class="display-6">&rsaquo;</span>
        </div>

        <div class="col">
            <div class="card h-100 border-1" style="border-color: #F971B0">
                <div class="card-body p-1 d-flex flex-column justify-content-center align-items-center">
                    <div class="fw-bold text-secondary" style="line-height: 1;">3</div>
                    <div class="opacity-50 d-none d-md-block mt-1 small">Clients</div>
                </div>
            </div>
        </div>

        <div class="col-auto px-2">
            <span class="display-6">&rsaquo;</span>
        </div>

        <div class="col">
            <div class="card h-100 border-2" style="border-color: #FF8A08">
                <div class="card-body p-1 d-flex flex-column justify-content-center align-items-center">
                    <div class="fw-bold text-secondary" style="line-height: 1;">4</div>
                    <div class="opacity-50 d-none d-md-block mt-1 small">Programs</div>
                </div>
            </div>
        </div>

        <div class="col-auto px-2">
            <span class="display-6">&rsaquo;</span>
        </div>

        <div class="col">
            <div class="card h-100 border-2" style="border-color: #37B7C3">
                <div class="card-body p-1 d-flex flex-column justify-content-center align-items-center">
                    <div class="fw-bold text-secondary" style="font-size: 1.15rem; line-height: 1;">5</div>
                    <div class="opacity-50 d-none d-md-block mt-1 small">Appointments</div>
                </div>
            </div>
        </div>

    </div>
</div>