<div class="container-fluid mb-4 col-10">
    <div class="row g-0 text-center align-items-center justify-content-center">
        
        <div class="col">
            <div class="card h-100 {% if request.session.module == 'tag' %} border-5 {% endif %}" style="border-color: #3ABEF9">
                <a href="{% url 'tag_list' %}" style="text-decoration: none;">
                    <div class="card-body p-1 d-flex flex-column justify-content-center align-items-center">
                        <div class="{% if request.session.module == 'tag' %} fs-4 {% else %} text-muted {% endif %}">1</div>
                        <div class="opacity-50 d-none d-md-block mt-1 small">Tags</div>
                    </div>
                </a>                    
            </div>
        </div>

        <div class="col-auto px-2">
            <span class="display-6">&rsaquo;</span>
        </div>

        <div class="col">
            <div class="card h-100 {% if request.session.module == 'exercise' %} border-5 {% endif %}" style="border-color: #A07CFE">
                <a href="{% url 'exercise_list' %}" style="text-decoration: none;">
                    <div class="card-body p-1 d-flex flex-column justify-content-center align-items-center">
                        <div class="{% if request.session.module == 'exercise' %} fs-4 {% else %} text-muted {% endif %}">2</div>
                        <div class="opacity-50 d-none d-md-block mt-1 small">Exercises</div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-auto px-2">
            <span class="display-6">&rsaquo;</span>
        </div>

        <div class="col">
            <div class="card h-100 {% if request.session.module == 'client' %} border-5 {% endif %}" style="border-color: #F971B0">
                <a href="{% url 'client_list' %}" style="text-decoration: none;">
                    <div class="card-body p-1 d-flex flex-column justify-content-center align-items-center">
                        <div class="{% if request.session.module == 'client' %} fs-4 {% else %} text-muted {% endif %}">3</div>
                        <div class="opacity-50 d-none d-md-block mt-1 small">Clients</div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-auto px-2">
            <span class="display-6">&rsaquo;</span>
        </div>

        <div class="col">
            <div class="card h-100 {% if request.session.module == 'workout' %} border-5 {% endif %}" style="border-color: #FF8A08">
                <a href="{% url 'workout_list' %}" style="text-decoration: none;">
                    <div class="card-body p-1 d-flex flex-column justify-content-center align-items-center">
                        <div class="{% if request.session.module == 'workout' %} fs-4 {% else %} text-muted {% endif %}">4</div>
                        <div class="opacity-50 d-none d-md-block mt-1 small">Workouts</div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-auto px-2">
            <span class="display-6">&rsaquo;</span>
        </div>

        <div class="col">
            <div class="card h-100 {% if request.session.module == 'appointment' %} border-5 {% endif %}" style="border-color: #22be0e">
                <a href="{% url 'appointment_calendar' %}" style="text-decoration: none;">
                    <div class="card-body p-1 d-flex flex-column justify-content-center align-items-center">
                        <div class="{% if request.session.module == 'appointment' %} fs-4 {% else %} text-muted {% endif %}">6</div>
                        <div class="opacity-50 d-none d-md-block mt-1 small">Appointments</div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>