{% extends 'trainer/base.html' %}
{% load process_header_tag %}

{% block custom_styles %}
    {% load static %}
    <link href="{% static 'css/tag.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
    <!-- <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap">
        <h3 class="mb-2 mb-sm-0">tags</h3>
    </div> -->  

    {% render_process_header "tags" "" %}

    <hr class="hr-tag opacity-100" />

    <div class="d-flex justify-content-between align-items-center flex-wrap gap-3 mb-3">
        <!-- Search Aligned Far Left -->
        <form method="GET" action="{% url 'tag_list' %}" class="flex-grow-1 flex-sm-grow-0" style="min-width: 300px;">
            <div class="input-group">
                <input type="text" name="search" value="{{search}}" class="form-control" placeholder="Search by name...">
                <button type="submit" class="btn btn-outline-secondary">GO</button>
            </div>
        </form>

        
        <a href="{% url 'tag_add' %}" class="btn btn-tag px-4">
            add
        </a>
    </div>

    <!-- tags list -->
    <div class="table-responsive mt-4">
        <table class="table table-hover shadow-sm align-middle">
            <thead>
                <tr>
                    <th class="text-nowrap">name</th>
                    <th class="text-nowrap">exercises</th>
                    <th class="text-end text-nowrap px-3">actions</th>
                </tr>
            </thead>
            <tbody>
                {% for tag in tags %}
                <tr>
                    <td class="text-break">{{ tag.name }}</td>
                    <td>{{ tag.exercise_count }}</td>
                    <td class="text-end">
                        <div class="btn-group flex-column flex-sm-row">
                            <a href="{% url 'tag_edit' tag.id %}" class="btn btn-sm btn-outline-primary mb-1 mb-sm-0">Edit</a>
                            <a href="{% url 'tag_delete' tag.id %}" class="btn btn-sm btn-outline-danger">Delete</a>
                        </div>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3" class="text-center text-muted py-4">No tags found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>        
    </div>

    <!-- bootstrap 5 pagination -->
    {% include 'trainer/includes/_pagination.html' %}

{% endblock %}