{% extends "trainer/base.html" %}
{% load process_header_tag %}


{% block content %}
    <!-- 
    <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap">
        <h4 class="mb-2 mb-sm-0">edit tags</h4>
        <a href="{% url 'tag_list' %}" class="btn btn-outline-secondary">
            Back
        </a>
    </div> 
    -->

    {% render_process_header "edit tags" "tag_list" %}
    <hr class="opacity-100" style="height:5px; background-color: #3ABEF9;" />

    <form method="POST">
        {% csrf_token %}
        {% include "trainer\includes\_form_errors.html" %}        

        <!-- tag Name -->
        <div class="border rounded p-4 mt-4">
            <div class="mb-3 row">
                <label class="col-12 col-md-2 col-form-label">{{ form.name.label }}</label>
                <div class="col">
                    {{ form.name }}

                    {% for error in form.name.errors %}
                        <div class="text-danger small">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- buttons actions -->      
        <div class="mt-4 d-flex gap-2 justify-content-end">
            <a href="{% url 'tag_list' %}" class="btn btn-outline-secondary w-100 w-sm-auto">
                Cancel
            </a>
            <button type="submit" class="btn btn-primary w-100 w-sm-auto">Save</button>
        </div>
    </form>
{% endblock %}
